<div class="row" id="footer">
    <div class="col-4">
        <h5><strong>Company</strong></h5>
        <ul>
            <li>About Us</li>
            <li>Our Campus Managers</li>
            <li>Apply to be a Campus Manager</li>
            <li>Blog</li>
            <li>Legal Mumbo Jumbo</li>
        </ul>
    </div>
    <div class="col-3">
        <h5><strong>Shop</strong></h5>
        <ul>
            <li>Products</li>
            <li>Design</li>
            <li>Our Retail Line</li>
        </ul>
    </div>
    <div class="col-3">
        <h5><strong>Our office</strong></h5>
        <ul>
            <li>150 West 25th St</li>
            <li>Suite #501</li>
            <li>New York, NY 10001</li>
        </ul>
    </div>
    <div class="col-2">
        <div class="email">
            <span><strong>Slide into our DMs</strong></span><br/>
            <strong><img src="../../assets/images/img1.png" width="30"> hi@freshprints.com</strong>
        </div>
        <div class="mobile">
            <span><strong>Call us maybe?</strong></span><br/>
            <strong><img src="../../assets/images/img2.png" width="30"> +1(917)720-7465</strong>
        </div>
    </div>
</div>