.rowSection {
    line-height: 0;   
    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;  
}

.rowSection img{
    position: relative;
    width: 100%;
    padding: 8px;
}

.heart{
    position: relative;
    top: 50px;
    z-index: 100;
    left: 85%;
    padding: 8px;
    background: white;
    border-radius: 25px;
}

.heart::before{
    display: inline-block;
}