<div class="row" id="header">
    <div class="row col-lg-5 col-md-12 col-sm-12 nomargin">
      <ul class="navbar">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/design']">Design</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/product']">Product</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
          </li>
      </ul>
    </div>
    <div class="row row col-md-4 col-sm-12 nomargin">
        <div class="col-12">
            <img src="../assets/images/logo.png">
        </div>
    </div>
    <div class="row row col-md-3 col-sm-12 nomargin">
        <ul class="navbar row col-12">
          <li class="col-lg-5"></li>
          <li class="nav-item active col-md-1 col-sm-2" (click)="toggleDisplay()">
              <i class="fa fa-search"></i>
          </li>
          <li class="nav-item col-md-4 col-sm-8 right">
              <button class="btn">Sign in</button>
          </li>   
      </ul>
    </div>
  </div>
  <div *ngIf="showSearch" class="row toggleSearch">
    <input type="text" placeholder="Search..." class="col-12 form-control searchTextBox">
  </div>